{% extends "base.html" %}

{% block extrahead %}
<script src="{{ STATIC_URL }}/js/change-status.js"></script>
{% endblock %}

{% block content %}
    <div class="submissionContent">

        <div class="row">
            <div class="">
                <h2>Submission #{{ submission.id }}: {{ submission.type }}</h2>
                <h3>Current status: {{ submission.current_status }} </h3>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Creator</th>
                            <td>{{ submission.creator }}</td>
                        </tr>
                        <tr>
                            <th>Last updater</th>
                            <td>{{ submission.updater }}</td>
                        </tr>
                        <tr>
                            <th>Created at</th>
                            <td>{{ submission.created }}</td>
                        </tr>
                        <tr>
                            <th>Last update</th>
                            <td>{{ submission.updated }}</td>
                        </tr>
                        {% if submission.iso_file %}
                            <tr>
                                <th>ISO File</th>
                                <td><a href="{{ submission.get_iso_url }}" title="ISO File" target="_blank">{{ submission.get_iso_url|slice:"40" }}..</a></td>
                            </tr>
                        {% endif %}
                        {% if submission.observation %}
                            <tr>
                                <th>Observation</th>
                                <td>{{ submission.observation|slice:"40" }}{% if submission.observation|length > 40 %}...{% endif %}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>

                {% include 'submission/action-bar.html' %}


                <h3>Last follow ups ({{ followups|length }})</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Previous Status</th>
                                <th>Change to</th>
                                <th>Message</th>
                                <th>Attatchment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if followups %}
                                {% for item in followups %}
                                    <tr>
                                        <td><span title="{{ item.created }}">{{ item.created|date:"d/m/Y" }}</span></td>
                                        <td>{{ item.previous_status }}</td>
                                        <td>{{ item.current_status }}</td>
                                        <td>{% if item.message %}{{ item.message }}{% else %}-{% endif %}</td>
                                        <td>{% if item.attachment %}{{ item.attachment }}{% else %}-{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan=4>Sorry, there's no follow ups to this submission.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

{% endblock %}