{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
<style>
    h1 {
        font-size: 40px;
        line-height: 1;
    }

    p {
        margin: 20px 0;
    }

</style>
{% endblock %}


{% block content %}
    <div class="masthead">
        <h1>{% trans "Ops.. This page cannot be found." %}</h1>
        <p>{% trans "The page that you try to see doesn't exist, or probably has been deleted." %}</p>
        <p><a href="{% url submission.views.index %}" class="btn btn-primary btn-large">Come back</a></p>
    </div>
{% endblock %}

~                                                                                                                            
~                                                                                                                            
~                                                                                                                            
~                                                                                                                            
~                                                                                                                            
~                        