{% load i18n %}
<!DOCTYPE html>
<html>
    <head>{% block "head" %}

        <meta charset="UTF-8">

        <link href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}/css/screen.css" rel="stylesheet">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
        <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-modal.js"></script>

        <title>{% block "title" %}{% trans "BIREME Submission" %}{% endblock %}</title>

        {% block extrahead %}{% endblock %}
    {% endblock %}</head>
    
    <body>
        {% include "lang.html" %}
        {% block "body" %}
            {% block top %}
                <div class="navbar navbar-fixed-top">
                    <div class="navbar-inner">
                        <div class="container-fluid">
                            <div class="row-fluid top">
                                {% include 'menu.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            <div class="container-fluid content">
                {% block content %}{% endblock %}
            </div>
    {% endblock %}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="footer">
                    <p>
                        <img src="{{ STATIC_URL }}/image/logo_bir.png" title="BIREME/OPAS/OMS" />

                        <b class="bireme">BIREME - OPAS - OMS</b><br>
                        {% trans "Centro Latino-Americano e do Caribe de Informação em Ciências da Saúde" %}<br>
                        {% trans "Rua Botucatu, 862 | cep: 04023-901 | São Paulo - SP | Tel: (55 11) 5576-9800 | Fax: (55 11) 5575-8868 " %}<br>
                        <a href="http://new.paho.org/bireme" title="{% trans 'Site Institucional da Bireme' %}">http://new.paho.org/bireme</a><br>
                        v{% include "version.txt" %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% if GOOGLE_ANALYTICS_ID %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_ID }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
    </body>
</html>