{% extends "submission/index.html" %}
{% load custom_filters %}

{% block relations %}
    <div class="blockSubmission">
        <h2>Opened submissions  ({{ submissions|length }})</h2>
        <div class="filters">
            <ul>
                {% for filter in filters %}<li><a href="?opened_filter={{ filter.id }}">{{ filter }}</a></li>{% endfor %}
            </ul>
        </div>
        {% if submissions|length %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Creation Date</th>
                        <th>Last update</th>
                        <th>Updated by</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub in submissions %}
                        <tr>
                            <td><a href="{% url submission.views.show_submission sub.id %}" title="Go to submission {{ sub.id }}">
                                {{ sub.type }}
                            </a></td>
                            <td>{{ sub.created|date:"d/m/Y H:i" }}</td>
                            <td>{{ sub.updated|date:"d/m/Y H:i" }}</td>
                            <td>{{ sub.updater }}</td>
                            <td>{{ sub.current_status }}</td>
                            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}