body {
    background-image: url(../image/background.png);
}
.spacer {
    clear:both;
}
/* Wrapper for page content to push down footer */
.wrap {
    margin-bottom: 20px;    
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 120px;
}
#footer {
    background-color: #f5f5f5;
    padding: 20px 0 0 0;
}
#footer img {
    float: left;
    margin: 0 10px;
}
#footer small a {
    color: #999;
    text-decoration: underline;
}
#footer small a:hover {
    text-decoration: none;
}

.content.login {
    padding: 0;
    width: 400px;
    margin: 10% auto;
}
.navbar .logged {
    margin: 5px 0 10px 15px;
}
#logo {
    height: 70px;
    background: url(../image/logo-BIREME-Submission.png) no-repeat center;
    margin: 0 0 20px 0;
}
#logo span {
    display: none;
}
#loginForm {
    padding: 30px 0;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

.confirm_change textarea {
    width: 98%;
    height: 70px;
}
.submissionContent {
    width: 780px;
    margin: 0 auto;
}
.submissionContent h2 {
    margin: 20px 0 0 0;
}
.submissionContent h3 {
    margin: 0 0 20px 0;
}
.submissionHistory {
    margin-top: 50px;
}
.submission-form{
    text-align:center;
    
}
.submission-form label {
    font-size: 160%;
}
.block {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block .line {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block select {
    width: 80%;
    font-size: 17pt;
    height: 50px;
}
.block textarea {
    width: 100%;
}
.actions {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.actions .btn {
    margin-left: 5px;
    margin-right: 5px;
}

.tableContainer {
    margin-top: 10px;
    border-radius: 6px;
    padding: 1em;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.table th, .table td {
    border-top: none;
    border-bottom: 1px solid #DDDDDD;
}

/******** FILTERS ********/
#filtersPanel {
    position: fixed;
    right: 0;
    top: 10%;
    width: 240px;
}
#filtersTab {
    text-align: right;
    float: left;
    z-index: 100;
    position: absolute;
    left: -40px;
}
#filtersTab a {
    display: block;
    width: 40px;
    height: 50px;
    background: url(../image/icn-filter-big.png) no-repeat;
}
#filtersTab a:hover {
    background: url(../image/icn-filter-big-hover.png) no-repeat;
}
#filtersTab a span {
    display: none;
}
.filtersContainer {
    float: left;
    width: 240px;
    background: #EFEFEF;
    margin-left: 0px ;
    border-radius: 0px 0px 0px 16px;
    z-index: 90;
    -moz-box-shadow: 0 5px 5px #888;
    -webkit-box-shadow: 0 5px 5px #888;
    box-shadow: 0 5px 5px #888;
}
.filters {
    padding: .8em;
}
.filters h3 {
    padding-bottom: .2em;
    margin-bottom: .4em;
    border-bottom: 1px solid #ABABAB;
}

/******** FOLLOW UP ********/
#followUp {
    margin:40px 0;
}
.follopUpItem {
    border-bottom: 1px solid #eee;
    padding: 15px 5px;
    
}
.follopUpItem:hover{
    background: #F5F5F5;
}
.followup-header-first {
    width: 25%;
}
.followUp-id, .followUp-date {
    font-size: 85%;
    font-style: italic;
}
.followUp-author{
    font-weight: bold;
    font-size: 130%;
}
.followUp-author i {
    margin-top: 2px;
}
.followUp-status {
    color: #666;
}
.followup-actions {
    margin-top: -10px;
}

.followUp-status label {
    display:inline;
}
.follopUpItem section {
    margin-top: 12px;
}
.follopUpItem section .comment {
    border-top: 1px solid #EAEAEA;
    margin-left:25%;
    padding:6px 6px 6px 0;
}
.follopUpItem section .reply {
    margin-left:30%;
}
.follopUpItem section .icn-reply {
    float:left;
    margin-left: -22px;
}
.follopUpItem section button {
    float:right;
}

/******** NEW SUBMISSION ********/
#newSubmission .row {
    margin-top: .8em;
}
#followUpList section.messages {
    display: none;
}
#form_iso {
    margin-top: -20px;
}
#form_iso .form-input {
    margin: 5px 20px 10px 0px;
}
.form-submit {
    border-top: 1px solid #eee;
    padding: 20px 0 0 0;
    margin-top: 40px !important;
}
form label {
    font-weight: bold;
    font-size: 11pt;
}
form label i {
    margin-top: 2px;
}
.edit-followup textarea {
    width: 98%;
    height: 90px;
}

.content {
    margin: 70px 20px 10px 20px;
    /*margin-left: 30px !important;*/
    background: #fff;
    border-radius: 5px;
    border: 1px solid #666;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding-top: 10px;
    padding-bottom: 30px;
}

#footer {
    margin-top: 0 !important;
}

.header {
    padding: 0 0 9px 0;
    border-bottom: 1px solid #eee;
    margin: 10px 0 50px 0;
}
.header .pull-right {
    margin-top: -35px;
}

#menu i {
    margin: 1px 3px 0 0;

}