.content {
    margin-top: 100px;
}
.navbar .logged {
    margin: 5px 0 10px 15px;
}
.logo {
    text-align: center;
    margin-top: 100px;
    margin-bottom: -100px;
}
.login {
    margin-top: 150px;
}
.login .textEntry {
    width: 100%;
}
.blockSubmission {
    margin-top: 20px;
    margin-bottom: 50px;
}
.blockSubmission h2 {
    margin-bottom: 10px;
    letter-spacing: -1px;
}
.blockSubmission .filters ul {
    margin: 0 0 25px 0;
}
.blockSubmission .filters ul li {
    display: inline;
    padding: 0 10px;
}
.confirm_change textarea {
    width: 98%;
    height: 70px;
}
.submissionHistory {
    margin-top: 50px;
}
.submission-form{
    text-align:center;
    
}
.submission-form label {
    font-size: 160%;
}
.block {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block .line {
    margin-top: 20px;
    margin-bottom: 20px;
}
.block select {
    width: 80%;
    font-size: 17pt;
    height: 50px;
}
.block textarea {
    width: 100%;
}
.actions {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.actions .btn {
    margin-left: 5px;
    margin-right: 5px;
}