{% extends "base.html" %}
{% load i18n %}

{% block extrahead %}
    <script>
        $(function(){
            document.login.username.focus();
        });
    </script>
    {% if request.user.is_authenticated %}
    <script>window.location = "{% url submission.views.index %}"</script>
    {% endif %}
{% endblock %}

{% block content %}

    <div id="loginForm">
        <div class="row">                        
            <div class="logo" id="logo">
                <h1><a href="" title="{% trans "BIREME Submission" %}"><span>{% trans "BIREME Submission" %}</span></a></h1>
            </div>
        </div>

        <div class="row">                        
            <form class="form-signin" action="{% url django.contrib.auth.views.login %}" method="post" name="login">
                
                {% csrf_token %}<input type="hidden" name="next" value="{% url submission.views.index %}" />

                <h2 class="form-signin-heading">{% trans "Login" %}</h2>

                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        {{ form.non_field_errors.as_text  }}
                    </div>
                {% endif %}

                {{ form.username.errors }}
                <input type="text" class="input-block-level" name="username" id="id_username" placeholder="Username">

                {{ form.password.errors }}
                <input type="password" class="input-block-level" placeholder="Password" name="password">

                <p><a href="{% url auth_password_reset %}" title="{% trans "Forgot my password" %}">{% trans "Forgot my password" %}</a></p>
                
                <button class="btn btn-large btn-primary" type="submit">{% trans "Login" %}</button>
            </form>
        </div>
    </div> <!-- /#loginForm -->

    <!-- <div class="container">


        <div class="row">
                {% if form.non_field_errors %}
                    <div class="alert alert-error">
                        {{ form.non_field_errors.as_text  }}
                    </div>
                {% endif %}
            <div class="logo span4 offset4"><h1><a href=""/ title="BVS Guichê">{% trans "BIREME Submission" %}</a></h1></div>
        </div>

        <div class="row">
            <div class="span4 offset4">

                <div class="login">
                    <form action="{% url django.contrib.auth.views.login %}" method="post" name="login">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{% url submission.views.index %}" />

                        <div class="formSegment">
                            <label for="id_username">{% trans "Username" %}</label>
                            <input type="text" maxlength="30" name="username" class="textEntry" id="id_username" />
                        </div>
                        <div class="formSegment">
                            <label for="id_password">{% trans "Password" %}</label>
                            <input type="password" id="id_password" class="textEntry" name="password" />
                        </div>
                        <input type="submit" class="submit btn btn-primary" value="Login" />
                    </form>
                </div>
                <a href="{% url auth_password_reset %}" title="{% trans "Forgot my password" %}">{% trans "Forgot my password" %}</a>
            </div>
        </div>
    </div> -->
{% endblock %}