{% load i18n %}
{% load custom_filters %}

<script>
    // interface
    function change_order_by(order) {
        var form = document.interface;
        form.order_by.value = order;
        form.submit();
    }

    function change_order_type(order) {
        var form = document.interface;
        if (form.order_type.value != "") {
            form.order_type.value = "";
        } else {
            form.order_type.value = "-";
        }
        form.submit();
    }

    function change_filter(filter) {
        var form = document.interface;
        form.filter.value = filter;
        form.page.value = 1;
        form.submit();
    }

    function change_type(type) {
        var form = document.interface;
        form.filtr_type.value = type;
        form.page.value = 1;
        form.submit();
    }
    
    function change_page(page) {
        var form = document.interface;
        form.page.value = page;
        form.submit();
    }

    $(function(){
        // remove o href dos .disables, caso a pessoa clique por engano, para nao dar erro
        $(".disabled").find('a').attr('href', "#");
    });

    // submissions
    function toggle_all(obj) {
        if(obj.checked) {
            $(".checkbox_submission").attr('checked', true);
        } else {
            $(".checkbox_submission").attr('checked', false);
        }
    }

    function submission_action(action) {
        var form = document.submissions;
        var msg = "{% trans 'Do you really change this submission status?' %}";

        form.action.value = action;

        if(confirm(msg)) {
            form.submit();
        }
    }

</script>

<form name="interface" method="GET">{% csrf_token %}
    <input type="hidden" name="filter" value="{{ filtr.id }}">
    <input type="hidden" name="filtr_type" value="{{ filtr_type }}">
    <input type="hidden" name="order_type" value="{{ order_type }}">
    <input type="hidden" name="order_by" value="{{ order_by }}">
    <input type="hidden" name="page" value="{{ pagination.page.number }}">
    {% if request.GET.q %}<input type="hidden" name="q" value="{{ request.GET.q }}">{% endif %}
</form>


<div class="row-fluid">
    <div class="blockSubmission">
        <div class="span10">
            <!-- bulk actions -->
            {% if filtr and submissions|length > 0 %}
                <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Bulk actions" %} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript: submission_action('approve')">{% trans "Approve to next status" %}</a></li>
                        <li><a href="javascript: submission_action('decline')">{% trans "Decline" %}</a></li>
                    </ul>
                </div>
            {% endif %}

            <form name="submissions" method="POST" action="{% url submission.views.bulk %}">{% csrf_token %}
                <input type="hidden" name="action" value="">
                <table class="table">
                    <thead>
                        <tr>
                            <th><input type="checkbox" onclick="toggle_all(this);"></th>
                        {% for name, title in headers %}
                            <th>
                                {% if name != "" %}
                                    {% if order_by == name %}
                                        <a href="javascript:change_order_type('{{ name }}')" title="Order type of {{ title }}">{{ title }}
                                            {% if order_type == '-' %}
                                                <i class="icon-chevron-down"></i>
                                            {% else %}
                                                <i class="icon-chevron-up"></i>
                                            {% endif %}
                                        </a>
                                    {% else %}
                                        <a href="javascript:change_order_by('{{ name }}')" title="{% trans 'Order by' %} {{ title }}">{{ title }}</a>
                                    {% endif %}
                                {% else %}
                                    {{ title }}
                                {% endif %}
                            </th>                
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if submissions|length %}
                            {% for sub in submissions %}
                                <tr>
                                    <td><input type="checkbox" class="checkbox_submission" name="submissions" value="{{ sub.id }}"></td>
                                    <td><a href="{% url submission.views.show sub.submission.id %}" title="{% trans 'Go to submission' %} {{ sub.submission.id }}"><b>{{ sub.submission.id }}</b></a></td>
                                    <td><span title="{{ sub.submission.created }}">{{ sub.submission.created|date:"d/m/y" }}</span></td>
                                    <td><span title="{{ sub.submission.updated }}">{{ sub.submission.updated|date:"d/m/y" }}</span></td>
                                    <td>{{ sub.submission.creator.get_profile.center.code }}</td>
                                    <td>{{ sub.submission.updater }}</td>
                                    <td>{{ sub.submission.current_status|translate:request.LANGUAGE_CODE }}</td>
                                    <td><span title="{{ sub.bibliographic_type|translate:request.LANGUAGE_CODE }}">{{ sub.bibliographic_type|translate:request.LANGUAGE_CODE|slice:'23' }}{% if sub.bibliographic_type|translate:request.LANGUAGE_CODE|length > 23 %}...{% endif %}</span></td>
                                    <td><a href="{{ sub.get_iso_url }}" title="{% trans 'Download file' %}" target="_blank">{{ sub.iso_title }}</a></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan=9>{% trans "No matches for your query" %}</td></tr>
                        {% endif %}
                    </tbody>
                </table>
            </form>

            <div class="pagination">
                <ul>
                    <li class="{% if not pagination.page.has_previous %}disabled{% endif %}">
                        <a href="javascript: change_page('{{ pagination.page.previous_page_number }}')">&#171;</a>
                    </li>

                    {% for i in pagination.paginator.page_range %}
                        {% if i == pagination.page.number %}<li class="disabled">{% else %}<li>{% endif %}
                        <a href="javascript: change_page('{{ i }}')">{{ i }}</a></li>        
                    {% endfor %}


                    <li class="{% if not pagination.page.has_next %}disabled{% endif %}">
                        <a href="javascript: change_page('{{ pagination.page.next_page_number }}')">&#187;</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="span2">    
            <div class="filters"> 
                <h3>{% trans "Filters" %}</h3>   
                
                <div class="filter">
                    <!-- type -->
                    <h4>{% trans "Type" %}</h4>   
                    <ul>
                        <li>{% if not filtr_type %}<b>{% trans "All" %}</b>{% else %}<a href="javascript:change_type('')">{% trans "All" %}</a>{% endif %}</li>
                        {% for type in filters_type %}
                            <li>
                                {% if filtr_type == type.id %}
                                    <b><span title="{{ type|translate:request.LANGUAGE_CODE }}">{{ type|translate:request.LANGUAGE_CODE|slice:'20' }}{% if type|translate:request.LANGUAGE_CODE|length > 23 %}...{% endif %}</span></b>
                                {% else %}
                                    <a href="javascript:change_type('{{ type.id }}')" title="{% trans "Filter by type " %}{{ type|translate:request.LANGUAGE_CODE }}">
                                        {{ type|translate:request.LANGUAGE_CODE|slice:'23' }}{% if type|translate:request.LANGUAGE_CODE|length > 23 %}...{% endif %}
                                    </a>
                                </li>
                                {% endif %}
                        {% endfor %}
                    </ul>
                </div>

                <!-- step -->
                <div class="filter">
                    <h4>{% trans "Steps" %}</h4>   
                    <ul>
                        <li>{% if not filtr %}<b>{% trans "All" %}</b>{% else %}<a href="javascript:change_filter('')">{% trans "All" %}</a>{% endif %}</li>
                        {% for filter in filters %}
                            <li>
                                {% if filtr == filter %}<b>{{ filter|translate:request.LANGUAGE_CODE }}</b>
                                {% else %}<a href="javascript:change_filter('{{ filter.id }}')">{{ filter|translate:request.LANGUAGE_CODE }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>