{% load i18n %}
<p>
    {% blocktrans %}
        Select the type of bibliographic records which will be sent.
        We recommend that ISO file contain multiple records, but all must be the same bibliographic type.
    {% endblocktrans %}
    <br>

    <b>{% trans "Example" %}:</b> {% trans "Send various monographs and / or theses in a submission" %}.
</p>
<p>
    <ul>
        <li><b>{% trans "Journal" %}:</b> {% trans "complete record described and indexed" %}.</li>
        <li><b>{% trans "Monography, Thesis and Non-conventional" %}:</b> {% trans "all types of literature that can be described in LILACS Methodology, excluding Journals" %}.</li>
        <li><b>{% trans "Indexed and reviewed records - LILACS Express" %}:</b> {% trans "journal records indexed and reviewed that participate in LILACS-Express" %}.</li>
        <li><b>{% trans "LILACS-Express" %}:</b> {% trans "Records without indexing and review which belongs to LILACS-Express. Initially, this type will be managed only by BIREME and viewed by those responsible for data entry in SciELO collections" %}.</li>
    </ul>
</p>