<p>
    Tipos bibliográficos: selecionar o tipo bibliográfico dos registros que estão sendo enviados. 
    Recomendamos que o arquivo iso tenha vários registros, mas todos devem ser do mesmo tipo bibliográfico.<br>
    <b>Exemplo:</b> enviar em uma submissão vários monográficos e/ou teses.
</p>
<p>
    <ul>
        <li><b>Journal:</b> Revista: registro completo descrito e indexado.</li>
        <li><b>Monography, Thesis and Non-conventional:</b> Monografia, Tese e Não Convencional: todos os tipos de literatura que podem ser descritos na Metodologia LILACS, excluindo as revistas.</li>
        <li><b>Indexed and reviewed records - LILACS Express:</b> registros indexados e revisados de revistas que participam do LILACS-Express.</li>
        <li><b>LILACS-Express:</b> registros sem indexação e sem revisão que são LILACS-Express. Este tipo a principio será administrado somente pela BIREME e visualizado pelos responsáveis por entrada de dados nas coleções SciELO. </li>
    </ul>
</p>