{% extends "email/base.html" %}
{% load i18n %}

{% block content %}
    <p>
        {% trans "Your submission as been updated from the status" %}
        {{ previous_status }} {% trans "to" %} {{ current_status }}.
    </p>

    {% if message %}
        <p>
            {% trans "See the message below:" %} <br>
            {{ message }}
        </p>
    {% endif %}
    
    <p>
        {% trans "Follow your submission in:" %} <br>
        <a href="{{ url }}">{{ url }}</a>
    </p>
{% endblock %}