{% load i18n %}
<script>
    // interface
    function change_order_by(order) {
        var form = document.interface;
        form.order_by.value = order;
        form.submit();
    }

    function change_order_type(order) {
        var form = document.interface;
        if (form.order_type.value != "") {
            form.order_type.value = "";
        } else {
            form.order_type.value = "-";
        }
        form.submit();
    }

    function change_filter(filter) {
        var form = document.interface;
        form.filter.value = filter;
        form.submit();
    }
    
    function change_page(page) {
        var form = document.interface;
        form.page.value = page;
        form.submit();
    }

    $(function(){
        // remove o href dos .disables, caso a pessoa clique por engano, para nao dar erro
        $(".disabled").find('a').attr('href', "#");
    });

    // submissions
    function toggle_all(obj) {
        if(obj.checked) {
            $(".checkbox_submission").attr('checked', true);
        } else {
            $(".checkbox_submission").attr('checked', false);
        }
    }

    function submission_action(action) {
        var form = document.submissions;
        form.action.value = action;
        form.submit();
    }

</script>

<form name="interface" method="GET">{% csrf_token %}
    <input type="hidden" name="filter" value="{{ filtr.id }}">
    <input type="hidden" name="order_type" value="{{ order_type }}">
    <input type="hidden" name="order_by" value="{{ order_by }}">
    <input type="hidden" name="page" value="{{ pagination.page.number }}">
</form>

<div class="blockSubmission">
    <div class="filters">
        <ul>
            <li>{% if not filtr %}<b>All</b>{% else %}<a href="javascript:change_filter('')">{% trans "All" %}</a>{% endif %}</li>
            {% for filter in filters %}
                <li>
                    {% if filtr == filter %}<b>{{ filter }}</b>
                    {% else %}<a href="javascript:change_filter('{{ filter.id }}')">{{ filter }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- bulk actions -->
    {% if filtr and submissions|length > 0 %}
        <div class="btn-group">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Bulk actions" %} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="javascript: submission_action('approve')">{% trans "Approve to next status" %}</a></li>
                <li><a href="javascript: submission_action('decline')">{% trans "Decline" %}</a></li>
            </ul>
        </div>
    {% endif %}

    <form name="submissions" method="POST">{% csrf_token %}
        <input type="hidden" name="action" value="">
        <table class="table">
            <thead>
                <tr>
                    <th><input type="checkbox" onclick="toggle_all(this);"></th>
                {% for name, title in headers %}
                    <th>
                        {% if name != "" %}
                            {% if order_by == name %}
                                <a href="javascript:change_order_type('{{ name }}')" title="Order type of {{ title }}">{{ title }}
                                    {% if order_type == '-' %}
                                        <i class="icon-chevron-down"></i>
                                    {% else %}
                                        <i class="icon-chevron-up"></i>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="javascript:change_order_by('{{ name }}')" title="{% trans 'Order by' %} {{ title }}">{{ title }}</a>
                            {% endif %}
                        {% else %}
                            {{ title }}
                        {% endif %}
                    </th>                
                {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% if submissions|length %}
                    {% for sub in submissions %}
                        <tr>
                            <td><input type="checkbox" class="checkbox_submission" name="submissions" value="{{ sub.id }}"></td>
                            <td><a href="{% url submission.views.show sub.id %}" title="{% trans 'Go to submission' %} {{ sub.submission.id }}"><b>{{ sub.submission.id }}</b></a></td>
                            <td>{{ sub.submission.created }}</td>
                            <td>{{ sub.submission.updated }}</td>
                            <td>{{ sub.submission.creator.get_profile.center.code }}</td>
                            <td>{{ sub.submission.updater }}</td>
                            <td>{{ sub.submission.current_status }}</td>
                            <td>{{ sub.submission.type }}</td>
                            <td><a href="{{ sub.get_iso_url }}" title="{% trans 'Download file' %}" target="_blank">{{ sub.iso_filename }}</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr><td colspan=6>{% trans "No matches for your query" %}</td></tr>
                {% endif %}
            </tbody>
        </table>
    </form>
</div>

<div class="pagination">
    <ul>
        <li class="{% if not pagination.page.has_previous %}disabled{% endif %}">
            <a href="javascript: change_page('{{ pagination.page.previous_page_number }}')">&#171;</a>
        </li>

        {% for i in pagination.paginator.page_range %}
            {% if i == pagination.page.number %}<li class="disabled">{% else %}<li>{% endif %}
            <a href="javascript: change_page('{{ i }}')">{{ i }}</a></li>        
        {% endfor %}


        <li class="{% if not pagination.page.has_next %}disabled{% endif %}">
            <a href="javascript: change_page('{{ pagination.page.next_page_number }}')">&#187;</a>
        </li>
    </ul>
</div>