{% extends "base.html" %}

{% block extrahead %}
<script>
    $(function(){
        $('.block-type').hide();
    });

    function show_block(obj) {
        var name = obj.value;

        $('.type').hide();
        $('.block-type').hide();
        $('.type-'+name).fadeIn('fast');
    }
</script>
{% endblock %}

{% block content %}
    <h2>New Submission</h2>
    
    <div class="row">
        <div class="span10 offset1">{% block "form" %}
            <div class="submission-form">
                <form class="form-vertical" method="POST" action="{% url submission.views.create %}" enctype="multipart/form-data">{% csrf_token %}

                    <div class="block type">
                        <label for="type">Select your submission type</label>
                        <ul>
                            {% for type in types %}                        
                                <li><a href="{% url submission.views.create type.id %}" title="{{ type.title }}">{{ type.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </form>
            </div>
        {% endblock %}</div>
    </div>
{% endblock %}