{% extends "base.html" %}
{% load custom_filters %}

{% block extrahead %}
<script>
    function change_order_by(order) {
        var form = document.interface;
        form.order_by.value = order;
        form.submit();
    }

    function change_order_type(order) {
        var form = document.interface;
        if (form.order_type.value != "") {
            form.order_type.value = "";
        } else {
            form.order_type.value = "-";
        }
        form.submit();
    }
</script>
{% endblock %}

{% block content %}    
    <div class="row">
        <div class="span12 submissions">
            
            <!-- block alert -->
            {% if request.GET.message and request.GET.type %}
                <div class="alert alert-{{ request.GET.type }}">
                    <button class="close" data-dismiss="alert">×</button>
                    <strong>Sucess!</strong><br>
                    {{ request.GET.message }}
                </div>
            {% endif %}
                
            <div class="relation">
                {% block relations %}                  
                    {% include 'submission/block-list-submission.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}