{% extends "base.html" %}

{% block extrahead %}
<script src="{{ STATIC_URL }}/js/change-status.js"></script>
{% endblock %}

{% block content %}
    <div class="submissionContent">

        <div class="row">
            <div class="">
                <h2>Submission #{{ submission.id }}: {{ submission.type }}</h2>
                <h3>
                    Current status: {{ submission.current_status }}
                    {% if is_pre_finish or is_finish and user_type == 'admin' %}
                        <small>
                            <a data-toggle="modal" href="{% url submission.views.edit_type_submission type_submission.id %}" data-target="#editType">Edit register</a>
                        </small>
                    {% endif %}
                </h3>

                {% if is_pre_finish or is_finish and user_type == 'admin' %}
                    <div class="modal hide" id="editType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Modal header</h3>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer"></div>
                    </div>
                {% endif %}

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Creator</th>
                            <td>{{ submission.creator }}</td>
                        </tr>
                        <tr>
                            <th>Last updater</th>
                            <td>{{ submission.updater }}</td>
                        </tr>
                        <tr>
                            <th>Created at</th>
                            <td>{{ submission.created }}</td>
                        </tr>
                        <tr>
                            <th>Last update</th>
                            <td>{{ submission.updated }}</td>
                        </tr>
                        {% if submission.observation %}
                            <tr>
                                <th>Observation</th>
                                <td>{{ submission.observation|slice:"40" }}{% if submission.observation|length > 40 %}...{% endif %}</td>
                            </tr>
                        {% endif %}

                        {% if type_submission %}
                            {% if type_submission.total_records > 0 %}
                                <tr>
                                    <th>ISO</th>
                                    <td><a href="{{ type_submission.get_iso_url }}">{{ type_submission.get_iso_url }}</a></td>
                                </tr>
                            {% endif %}
                            {% if type_submission.total_records > 0 %}
                                <tr>
                                    <th>Total of records</th>
                                    <td>{{ type_submission.total_records }}</td>
                                </tr>
                            {% endif %}
                            {% if type_submission.certified > 0 %}
                                <tr>
                                    <th>Total of certified records</th>
                                    <td>{{ type_submission.certified }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </tbody>
                </table>

                {% include 'submission/action-bar.html' %}


                <h3>Last follow ups ({{ followups|length }})</h3>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Date</th>
                                <th>Author</th>
                                <th>Previous Status</th>
                                <th>Change to</th>
                                <th>Message</th>
                                {% if user_type == 'admin' %}<th>Staff Message</th>{% endif %}
                                <th>Attatchment</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if followups %}
                                {% for item in followups %}
                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td><span title="{{ item.created }}">{{ item.created|date:"d/m/y H:i" }}</span></td>
                                        <td>{{ item.creator }}</td>
                                        <td>{{ item.previous_status }}</td>
                                        <td>{{ item.current_status }}</td>
                                        <td>{% if item.message %}
                                            {% if item.message|length > 20 %}
                                                <span title="{{ item.message }}">{{ item.message|slice:":20" }}..</span>
                                            {% else %}
                                                {{ item.message}}
                                            {% endif %}
                                        {% else %}
                                            -
                                        {% endif %}</td>
                                        {% if user_type == 'admin' %}
                                            <td>
                                                {% if item.staff_message %}
                                                    {% if item.staff_message|length > 20 %}
                                                        <span title="{{ item.staff_message }}">{{ item.staff_message|slice:":20" }}..</span>
                                                    {% else %}
                                                        {{ item.staff_message }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td>{% if item.attachment %}<a href="{{ item.get_attachment_url }}"><i class="icon-file"></i></a>{% else %}-{% endif %}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr><td colspan=4>Sorry, there's no follow ups to this submission.</td></tr>
                            {% endif %}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

{% endblock %}